ProyectoGrupal2/.vs/ProjectSettings.json
ProyectoGrupal2/.vs/slnx.sqlite
ProyectoGrupal2/.vs/VSWorkspaceState.json
ProyectoGrupal2/.vs/ProyectoGrupal2/FileContentIndex/33d1645d-a08f-4bb0-b5d3-d3d10ad7d272.vsidx
ProyectoGrupal2/.vs/ProyectoGrupal2/FileContentIndex/452b73cf-694f-4945-8e2b-53a6537402ea.vsidx
ProyectoGrupal2/.vs/ProyectoGrupal2/FileContentIndex/873e55a1-ae31-4587-89a8-2901763c2a24.vsidx
ProyectoGrupal2/.vs/ProyectoGrupal2/FileContentIndex/1489ab0b-a649-4bd4-970e-2f8db07dfcb6.vsidx
ProyectoGrupal2/.vs/ProyectoGrupal2/FileContentIndex/f2c4c86e-611f-4a63-bcee-0250ef0a1304.vsidx
ProyectoGrupal2/.vs/ProyectoGrupal2/copilot-chat/7823d032/sessions/cd399e04-733f-4006-a5e3-8e3584517c12
ProyectoGrupal2/.vs/ProyectoGrupal2/copilot-chat/7823d032/sessions/e26f8388-53b6-4663-be8c-b1e52b513c78
ProyectoGrupal2/.vs/ProyectoGrupal2/v17/.wsuo
ProyectoGrupal2/.vs/ProyectoGrupal2/v17/DocumentLayout.json
ProyectoGrupal2/.vs/
ProyectoGrupal2/__pycache__/Processor.cpython-312.pyc
ProyectoGrupal2/__pycache__/
ProyectoGrupal2/README.txt.txt
ProyectoGrupal2/README.txt.txt
